<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_CDI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB9222EC1E51AE9B00BFD672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9223051E51AE9C00BFD672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9223101E51AE9C00BFD672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
